<h2>Cadastro de Projeto</h2>

<form method="post" action="/projects/create">
	<label>Nome do projeto</label>
	<input type="text" name="project[name]" value="" />

	<input type="submit" value="Cadastrar" />
</form>